<div id="intro-section" class="text-center">
  <h1 class="intro-text">Hi, I'm Alin. I design & build </h1>
  <h1 class="intro-text">Web & Mobile applications</h1>
</div>
<br/>
<div id="about">
  <div class="row text-center">
    <div class="col-md-12">
      <h3 class="title">About</h3>
      <p style="text-align: justify;">I currently work as a Web Developer at Systegra Engineering, the
        place
        where I consume my passion for
        development and I am also student in my first year of masters
        degree learning Telematic Systems for Transports. You can check my work history on <a
          class="link-button"
          href="https://www.linkedin.com/in/georgian-alin-alexandru-5ab995119/">LinkedIn</a>.
        Outside of work I like to hang out with friends and travel. If you have a project to be done,
        don't
        hesitate
        to
        <a href="#contact" class="link-button">contact me</a> and get a coffee.
      </p>
    </div>
  </div>

</div>
<br>
