<div id="navigation" class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li class="nav-button"><a pageScroll [pageScrollSpeed]="4000"  href="#projects" >Projects</a></li>
      <li class="nav-button"><a pageScroll [pageScrollSpeed]="4000" href="#contact">Contact</a></li>
    </ul>
  </nav>
  <img class="my-logo" src="../../../assets/logo/Portfolio%20logo.svg" alt="logo">
</div>
<hr/>


<nav class="navbar navbar-default navbar-fixed-top" *ngIf="navIsFixed" style="margin-left: 8px; margin-right: 8px; border-top: 8px solid;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" pageScroll [pageScrollSpeed]="4000" href="#intro-section" style="padding: 5px 15px;"><img class="my-logo" src="../../../assets/logo/Portfolio%20logo.svg" alt="logo"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-button"><a pageScroll [pageScrollSpeed]="4000" href="#intro-section">Home</a></li>
        <li class="nav-button"><a pageScroll [pageScrollSpeed]="4000" href="#projects">Projects</a></li>
        <li class="nav-button"><a pageScroll [pageScrollSpeed]="4000" href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
