<div id="projects">
  <div class="row text-center">
    <div class="col-md-12">
      <h3 class="title">Projects</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/projects-logo/pointtaxi.png">
        </div>
        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 primary-font">Point Taxi<i
                          style="font-size: 20px; font-style: normal;" class="pull-right">Details</i></span>
          <p><a href="http://pointtaxi.ro/" class="link-button primary-font">Visit Website</a></p>
        </div>
        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Point Taxi<i
                          class="fa fa-close pull-right"></i></span>
          <p>I worked on this project with my colleagues at <a href="http://www.aptus.ro/en/">Aptus
            Software</a>. My role as a Front End Developer was to create new futures and resolve
            existing bugs.</p>
        </div>
      </div>
    </div>
  </div>

</div>
<hr/>
