<div id="footer" class="text-center">
  <div class="row">
    <img style="width: 40px;" src="./assets/logo/Portfolio%20logo.svg" alt="logo">
  </div>
  <p style="margin-top: 5px;">Handmade by me 2018.</p>
  <br/>
  <div id="social-media">
    <a href="https://www.facebook.com/georgian.alin.77?ref=bookmarks">
      <img src="./assets/facebook.svg" style="width: 35px;" alt="facebook"/>
    </a>
    <a href="https://www.linkedin.com/in/georgian-alin-alexandru-5ab995119/">
      <img src="./assets/linkedin.svg" style="width: 35px;" alt="facebook"/>
    </a>
  </div>
</div>
